# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized:

__Objectives:__
- List commonly used libraries for Data Science
- List popular languages used for Data Science
- List Data Science Tools used for Data Science

## Author
Jimmy Khang

Some of the popular languages that Data Scientist use are:
1. Julia
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Numpy 
2. Pandas 
3. Tidyverse

| Data Science Tools |
|--------------------|
|1. Apache Spark |
|2. Hadoop |
|3. Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [25]:
200/60

3.3333333333333335